.menu-bar .label {
    -fx-text-fill: #b8b8b8;
    -fx-padding: 5px;
}

.menu-item .label {
    -fx-text-fill: #b8b8b8;
}

.menu-item {
    -fx-background-color: #3e4045;
}

.menu-item:hover {
    -fx-background-color: #484a4d;
}

.input-field {
    -fx-text-fill: #a6abb2;
    -fx-padding: 10px;
    -fx-background-color: #1e1e1e;
}

#btn-new-chat {
    -fx-padding: 10px;
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-text-fill: #b6bbb2;
    -fx-border-color: #a6abb2;
}

#btn-new-chat:hover {
    -fx-background-color: #484a4d;
}

#btn-new-chat:pressed {
    -fx-background-color: #1e1e1e;
}

.label {
    -fx-text-fill: #a6abb2;
}

.message {
    -fx-border-color: #2f2f2f;
    -fx-padding: 10px;
    -fx-border-radius: 20px;
    -fx-background-color: #1c1c1c;
    -fx-background-radius: 20px;
    -fx-text-fill: #a6abb2;

}

* {
    -mdfx-font-color: #a6abb2;
    -mdfx-link-color: blue;
    -mdfx-border-color-1: #888;

    -mdfx-bg-color-1: #ccc;
    -mdfx-bg-color-2: #ddd;
    -mdfx-bg-color-3: #eee;

    -mdfx-bq-color-border: #4488cc; /* the blockquote's border color */
    -mdfx-bq-color-background: black; /* the blockquote's background color */
}
.markdown-text {
    -fx-font-family: "JetBrains Mono";
    -mdfx-font-color: #a6abb2;
}

.markdown-italic {
    -fx-font-style: italic;
}
.markdown-bold {
    -fx-font-weight: bold;
}
.markdown-strikethrough {
    -fx-strikethrough: true;
}